*{
    margin:0px;
    /* margin-right: 25px; */
}
body{
    background-color: rgb(24, 91, 75);
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin-left: 100px;

}
h1{
    font-size: 82px;
    max-width: 60%;
    margin-top: 150px;
}

h2{
    font-size: 32px;
    max-width: 60%;
    margin-top: 50px;
    margin-bottom: 100px;

}

.venue{
    margin-top: 100px;
    font-size: 20px;
    width: fit-content;
}

input{
    margin-top: 80px;
    width: fit-content;
    padding: 15px 20px;
    border-radius: 30px;
    background: orange;
    font-size: 20px;
    font-weight: bold;
    border: none;
}
.image{
    margin-top: -800px;
    text-align: right;

}
img{
    /* margin-top: -55px; */
    height: 955px;
    width: 45%;
}

@media screen and (max-width: 900px) {
    body{
        margin-top: -100px;
        padding: 0px;
        margin-left: 30px;
    }

    .venue{
        margin-top: 100px;
        font-size: 20px;
        width: auto;
    }
    .image{
        margin-top: 40px;
        margin-left: -30px;
        text-align: center;
    }
    input{
        text-align: center;
    }
    img{
        /* margin-top: -55px; */ 
        height: 100%;
        width: 100%;
    }

    }