*{
    margin: 0;
    padding: 0;
}
.grid-container{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:repeat(5,1fr);
    gap: 14px;
}
.grid{
    padding: 15px;
    background-color: aqua;
    border: 1px black dotted;
    text-align: center; 
}
.grid-1,.grid-4{
    grid-column: span 3;
    grid-row: span 1;
}
.grid-2{
    grid-column: span 2;
    grid-row: span 3;
}
.grid-3{
    grid-column:span 1;
    grid-row: span 3 ;
}
