*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';

}
nav {
    background-color: rgb(174, 156, 156);
    width: auto;
    height: auto;
    padding: 5px;
}
nav ul li{
    padding: 10px;
    display: inline;
}
nav ul li a{
    color: aliceblue;
    list-style: none;
    text-decoration:none;
}

table th,td{
    padding: 20px;
    margin: 10px;
    color: rgb(0, 0, 0);
    font-style:italic;
}
.intro img{
    width: 50%;
    max-width: 300px;
}


.intro p{
    border: rgb(174, 156, 156) dashed 3px;
    padding: 10px;
    margin-right: 100px;
}

.interest ul{
    list-style: none;
    border: 2px rebeccapurple dashed;
    padding: 10px;
    margin-right: 100px;
}
.interest ul li {

    border: 2px rebeccapurple dashed;
    width: 20%;
    padding: 10px;
    margin: 10px ;
}

footer{
    background-color: rgba(0, 0, 0, 0.667);
    color: aliceblue;
    padding: 5px;
    margin-top: 10px;
    text-align: center;
}
footer a{
    color: rgb(32, 151, 255);
    text-decoration:none;
}
a:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 15px;
    text-decoration:none;
    font-weight:bold;
    font-size: 10px;

}