.content{
    background-color: #0227e2;
    height: 90vh;
}
.content{
    padding: 150px;
    color: aliceblue;
}

h1{
    font-size: 60px;
}
.role{
    font-size: 90px;
}
.desc{
    font-size: 30px;
}