body{
    background-color: rgb(226, 226, 226);
    /* background: rgb(230,10,10);
    background: linear-gradient(32deg, rgba(230,10,10,1) 36%, rgba(16,10,98,1) 100%); */
}

.content{
    height: 60vh;
}
.content{
    padding: 150px;
    color: rgb(0, 0, 0);
    /* background: rgb(0,212,255);
    background: linear-gradient(32deg, rgba(0,212,255,1) 0%, rgba(5,5,223,1) 48%, rgba(2,0,36,1) 85%); */
}

h1{
    font-size: 60px;
}
.role{
    font-size: 90px;
}
.desc{
    font-size: 30px;
}
/* .content img{
    opacity: 0.5;
    position: absolute;
    top: 0; right: 0;
    height: 90vh;
    height: 10px;
} */