body{
    background: rgb(255,162,0);
    background: linear-gradient(32deg, rgba(255,162,0,1) 0%, rgba(223,5,5,1) 35%, rgba(2,0,36,1) 85%);

}
.content{
    margin: 20px 10px;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center ;
    align-items: center;

}
.content .images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    align-items: center;
    /* flex-direction: column; */
}
.content .images img{
    width: 500px;
    margin: 10px; 
    border-radius: 5px;
}
.content .images img:hover{
    transform: scale(1.1);
    transition: all 0.3s ease 0s;
}
.content .image-popup{
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(2,0,36,0.5);
    height: 100%;
    width: 100%;
    z-index: 100;

}
.content .image-popup img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 70vw;
    object-fit: cover;
}

.content .image-popup span{
    position: absolute;
    top: 0; right: 10px;
    font-size: 40px;
    color: aliceblue;
    cursor: pointer;
    z-index: 100;
}