*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-around;
}
header a,footer a{
    margin: 40px;
    text-decoration: none;  
     
}
header li{
    display: inline;
}