*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header li,header a{
    font-size: 15px;
    color:#f3eaea;
    text-decoration: none;
}

header{
    max-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    background: #502274;
}
.sticky{
    z-index: 100;
    position: fixed;
    transition: all 0.3s ease-in-out ;
    top: 0;
    left: 0;
    right: 20px;
    width: 100%;
    padding: 10px;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0,0.1);
}
/* Scroll Stuff */

.scroll-down header{
    transform: translate3d(0,-100%,0);
}
.scroll-up header{
    filter: drop-shadow(0 -10px 20px rgb(170,170,170));
}

header nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.logo{
    /* cursor: pointer; */
    color: #f3eaea;
     margin-right: auto;
 } 
.logo span{
    color: #EEB4B3;
}

.nav_links{
    list-style: none;
    
}
.nav_links li{
    display: inline-block;
    padding: 0px 15px;
}
.nav_links li a{
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
    transition: all 0.3s ease 0s;
    color: #C179B9;
}
.contact button{
    margin-right: 15px;
    font-weight: 500;
    color: aliceblue;
    padding: 9px 25px;
    background-color: #A42CD6;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.contact button:hover{
    background-color: #5a1179;
    color: rgba(255, 255, 255, 0.4);
}